<div class="full-page-container">
  <div class="wrapper">
    <app-logo></app-logo>
    <h4>Notre nouveau site est en construction...</h4>
    <p>Nous contacter:</p>
    <div class="contact-box">
      <p>
        Lieu dit Ceppe <br>
        Lot arbucetta <br>
        Biguglia 20620 
      </p>
      <p>04 95 48 47 22 <br>
      opb.architecte@gmail.com
      </p>
    </div>
    <p>ou</p>
    <app-contact-form></app-contact-form>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>

<!-- <router-outlet></router-outlet> -->
